/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 5px;
}

/* Home */

#home{
    height: 335px;
    padding: 3px 44px;
    /* flex-direction: column; */
}
#home::before{
    height:480px ;
}
#home p{
    font-size: 13px;
}
/* Services */

#services{
    flex-direction: column;
}
#services .box{
    /* border: 2px solid brown; */
    padding: 19px;
    margin: 4px 0px;
    margin-bottom:20px ;
}
    
/* Client Section  */

#clients{
    /* overflow: hidden; */
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 2px 6px;
    height: auto;
}
/* Contact Section  */
#contact-box form{
    width: 80%;
}
/* Footer  */

/* Utility Classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding:4px 8px ;
}